{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页_连冬羊个人博客 - 一个站在web全栈设计之路的男技术员个人博客网站{% endblock %}</title>
    <meta name="keywords" content="个人博客,连冬羊个人博客,个人博客模板,连冬羊"/>
    <meta name="description" content="首页_连冬羊个人博客 - 一个站在web全栈设计之路的男技术员个人博客网站"/>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
{#    <script src="{% static 'js/modernizr.js' %}"></script>#}
    <![endif]-->
    <script src="{% static 'js/scrollReveal.js' %}"></script>
    {% block mycss%}{% endblock %}
</head>
<body>

</body>
</html>